:root {
  --main-page-width: 60%;
  --standard-padding: 1em;

  --sidebar-font-color: #eee;
}

body {
  display: flex;
  height: 100vh;
}

.heading {
  font-size: large;
}

.container {
  padding: none;
}

#main-page {
  display: flex;
  flex-direction: column;
  width: var(--main-page-width, 60%);

  justify-content: center;

  padding: var(--standard-padding);
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--main-page-width, 60%));

  background-image: url(img/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
  background-size: cover;
  background-position: -200px;

  color: var(--sidebar-font-color);
}

.logo-container  {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: var(--standard-padding);
  margin-top: 30vh;
  margin-bottom: auto;

  width: 100%;

  background-color: rgb(20 20 20 / 0.4);
}

#logo {
  height: auto;
  width: 40%;
  stroke: var(--sidebar-font-color);
}

.logo-container p {

}

form {
  display: flex;
  flex-flow: row wrap;
}

form p {
  width: 100%
}

form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  width: 50%;

  padding: 0.5em calc(2% + 1em);
}

form button {
  margin: 1.5em 0em;
}


