:root {
  --main-page-width: 60%;
  --standard-padding: 1.2em;

  --sidebar-font-color: #eee;

  --standard-font-size: 1em;
  --heading-font-size: 1.5em;

  --main-font-family: 'CriativaSansRegular', Verdana, Geneva, Tahoma, sans-serif;

  --border-color-grey: #383838;
  --outline-color-focus: #239dee;
  --border-color-invalid: #ff6b04;
  --border-color-valid: #009f22;
}

body {
  display: flex;
  height: 100vh;
  margin: 0px;

  font-family: var(--main-font-family);
  font-size: var(--standard-font-size);

  background-color: var(--sidebar-font-color);
}

.heading {
  font-size: var(--heading-font-size);
  font-weight: bold;
}

.container {
  padding: none;
}

#main-page {
  display: flex;
  flex-direction: column;
  width: var(--main-page-width, 60%);

  justify-content: center;

  padding: 0 var(--standard-padding);
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - var(--main-page-width, 60%));
  min-width: min-content;

  background-image: url(img/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
  background-size: cover;
  background-position: -200px;

  color: var(--sidebar-font-color);
}

.logo-container  {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--standard-padding);

  padding: 0 var(--standard-padding);
  margin-top: 25vh;
  margin-bottom: auto;

  width: 100%;
  height: min-content;

  background-color: rgb(20 20 20 / 0.4);

  font-family: 'Earthbound', 'Raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: calc(1.2 * var(--heading-font-size));
}

#logo {
  min-width: 2em;
  max-width: 300px;
}

.img-credit {
  margin-bottom: 0.3em;
  font-size: calc(0.7 * var(--standard-font-size));
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--outline-color-focus);
  text-decoration: underline wavy;
}

form {
  display: flex;
  flex-flow: row wrap;

  row-gap: calc(1.2 * var(--standard-padding));
}

form p {
  width: 100%
}

form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  gap: 0.5em;

  width: 50%;

  /* box-shadow: -8px 6px 4px -2px #aaa; */
}

form button {
  --grad-opacity: 0.9;
  margin: 1.5em 0em;
  padding: 0.5em;

  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: var(--standard-font-size);
  color: var(--sidebar-font-color);
  text-shadow: 2px 2px 6px var(--border-color-grey);

  border: 2px solid var(--border-color-grey);
  border-radius: 8px;

  /* background-color: rgb(63 43 140 / var(--grad-opacity)); */

  background-image: linear-gradient(
    42deg,
    rgb(6 21 158 / var(--grad-opacity)),
    rgb(63 43 140 / var(--grad-opacity)), 
    rgb(140 77 43 / var(--grad-opacity)), 
    rgb(184 157 50 / var(--grad-opacity)), 
    rgb(230 207 117 / var(--grad-opacity)), 
    rgb(79 191 219 / var(--grad-opacity)), 
    rgb(9 118 145 / var(--grad-opacity)));
}

label {
  /* font-style: italic; */
  font-size: var(--standard-font-size);
  font-weight: lighter;
}

input {
  position: relative;
  box-sizing: border-box;
  max-width: 80%;
  /* height: 1.3em; */
  padding: 0em 0.2em;
  padding-bottom: 0em;

  font-family: var(--main-font-family);
  font-size: var(--standard-font-size);
  line-height: 1.5em;

  border: none;
  border-bottom: 1px solid var(--border-color-grey);
  border-radius: 0px;

  background-color: var(--sidebar-font-color);
}

input::placeholder {
  overflow: visible;
}

input:focus,
input:valid:focus,
input:invalid:focus {
  border: none;
  outline: 2px solid var(--outline-color-focus);
  /* border-color: var(--outline-color-focus); */
  box-shadow: 3px 3px 3px rgb(105 84 88 / 0.2)
}

input:invalid {
  border-bottom: 2px solid var(--border-color-invalid);

  /* border-color: var(--border-color-invalid); */

}

input:valid {
  border-bottom: 2px solid var(--border-color-valid);
  /* border-color: var(--border-color-valid) */
}