:root {
  --main-page-width: 60%;
  --standard-padding: 1em;

  --sidebar-font-color: #eee;

  --standard-font-size: 1.3em;
  --heading-font-size: 1.5em;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;

  font-family: 'Raleway', 'Earthbound', 'CriativaSansRegular', Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--standard-font-size);
}

.heading {
  font-size: var(--heading-font-size);
}

.container {
  padding: none;
}

#main-page {
  display: flex;
  flex-direction: column;
  width: var(--main-page-width, 60%);

  justify-content: center;

  padding: var(--standard-padding);
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - var(--main-page-width, 60%));

  background-image: url(img/aldebaran-s-qtRF_RxCAo0-unsplash.jpg);
  background-size: cover;
  background-position: -200px;

  color: var(--sidebar-font-color);
}

.logo-container  {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: var(--standard-padding); */

  padding: var(--standard-padding);
  margin-top: 30vh;
  margin-bottom: auto;

  width: 100%;

  background-color: rgb(20 20 20 / 0.4);

  font-family: 'Earthbound', 'CriativaSansRegular', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: calc(1.5 * var(--heading-font-size));
}

#logo {
  
}

.image-credit {
  padding: var(--standard-padding);
}

form {
  display: flex;
  flex-flow: row wrap;

  row-gap: var(--standard-padding);

  padding: var(--standard-padding);
}

form p {
  width: 100%
}

form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  width: 50%;

  /* padding: 0.5em calc(2% + 1em); */
}

form .container:nth-last-child(-n + 4) {
  /* border-bottom: grad; */
  /* box-shadow: 0px -4px 4px -2px #aaa inset; */
}

form button {
  margin: 1.5em 0em;
}

label {
  /* font-weight: 300; */
}

input {
  width: 80%;
  margin-right: auto;

  font-family: 'Raleway', 'Earthbound', 'CriativaSansRegular', Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(0.8 * var(--standard-font-size));
}